.clients__section {
  @include section;
  }
  
  .container-title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    }    
  }
  
  .clients-list {
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
           
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;

      flex-basis: calc(100% / 2);
      }

      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
  
        flex-basis: calc(100% / 3);
        }
    }
  
  .client-logo__link {
    display: flex;
    width: 210px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--prymary-client-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    border: 1px solid var(--accent-bt-color);
  }

    &:hover .client-logo__icon,
    &:focus .client-logo__icon {
    fill: var(--accent-bt-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
  
  .client-logo__icon {
    fill: var(--prymary-client-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
