.logo {
    display: block;
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  
   &__web--blue {
    color: var(--accent-text-color);
  }
}