.section-portfolio {
  @include section;
  }
  
  .button-operating {
    

      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      

    @media screen and (min-width: 768px) {
      // display: flex;
      // flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      margin: 0;
      padding-left: 0;
      margin-bottom: 50px;
    }
  }
  
  .button-secondary {
    margin-right: 8px;
    margin-bottom: 15px;
  
    &:nth-child(5) {
    margin-right: 0;
  }

    &:nth-child(n+4) {
      margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    margin-right: 8px;
    margin-bottom: 0;

    &:nth-child(5) {
      margin-right: 0;
    }
  }

    &__item {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    border: none;
    text-align: center;
    background-color: var(--prymary-bt-color);
    color: var(--title-text-color);
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
    &__item:hover,
    &__item:focus {
    background-color: var(--accent-bt-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
