:root {
    --title-text-color: #212121;
    --prymary-text-color: #757575;
    --accent-text-color: #2196f3;
    --secondary-text-color: #ffffff;
    --prymary-bt-color: #f5f4fa;
    --background-fone-color: #2f303a;
    --accent-bt-color: #2196f3;
    --accent-prymary-color: #188ce8;
    --prymary-client-color: #afb1b8;

    --prymary-font: Roboto, sans-serif;
    --logo-font: Raleway;
  }